---
import GitHubIcon from "../icons/GitHubIcon.astro";
---

<div
  class="flex flex-col items-center gap-1 py-4 px-3 bg-neutral-900 rounded w-auto h-full box-border border border-smoke-900 shadow-lg shadow-smoke-950 duration-150 hover:bg-neutral-800"
>
  <img src={Astro.props.img} alt="img test" class="rounded box-border w-11/12 h-64 object-cover" />
  <div class="flex flex-col gap-2 my-2 w-full items-start">
    
    <h1 class="text-2xl text-cali-200 font-semibold">{Astro.props.title}</h1>

    <div class="flex flex-wrap gap-2 items-center">
      <p class="text-cali-50 text-lg">{Astro.props.type}</p>
      <a class="flex flex-row gap-1 rounded bg-cali-900 px-2 py-1 hover:bg-cali-800 duration-100" href={Astro.props.repo} target="_blank">
        <GitHubIcon/><span>Repo</span>
      </a>
    </div>

    <div class="flex flex-row flex-wrap gap-1 items-center">
      <p>Tecnologies:</p>
      {
        Astro.props.description.map((x: string) => (
          <p class="border text-xs border-cali-200 py-1 px-2 rounded-lg">{x}</p>
        ))
      }
    </div>


  </div>
</div>
